.calenderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
}
.calenderMonth {
    font-size: 1rem;
    font-weight: bold;
}
.calenderDay {
    font-size: 1.5rem;
    font-weight: bold;
}
.calenderYear {
    font-size: 1rem;
}