.item-container {
    padding: 0.5rem;
    margin: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: #4b4b4b;
    border-radius: 12px;
}

.title-text {
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
}
.expense-item-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: rgba(169, 169, 169, 0.42);
    border-radius: 10px;
}
.title-item {
    grid-area: 1/span 2;
}
.title-style {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #ececec;
}
.amount {
    background-color: #40005d;
    height: 100%;
    border: 1px solid #ececec;
    color: white;
    border-radius: 12px;
    display: grid;
}
.amount > div {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}