.year {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    min-width: 80px;
}
.dropdown-style {
    background-color: #ca85e9;
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}